@import '../../../node_modules/bulma/sass/components/tabs';
@import '../../../node_modules/bulma/sass/layout/section';

html, body {
  font-size: 13px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.main-tabs {
  @extend .tabs;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.main-section {
  @extend .section;

  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
}