@import './variables';
@import '../../../node_modules/bulma/sass/utilities/initial-variables';
@import '../../../node_modules/bulma/sass/components/tabs';
@import '../../../node_modules/bulma/sass/layout/section';

html, body {
  font-size: 13px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

$header-height: 30px;

.main-tabs {
  @extend .tabs;

  z-index: 999;
  background: $white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.main-section {
  @extend .section;

  position: absolute;
  top: $header-height;
  left: 0;
  right: 0;
  bottom: 0;

  #connectionInfo {
    height: 5%;
  }
  #mainContent {
    height: 95%;
  }
}