@import '../../../node_modules/bulma/sass/utilities/mixins';
@import '../../../node_modules/bulma/sass/grid/tiles';

.tile--table-view {
  @extend .tile;
  @extend .is-ancestor;

  height: 100%;
}

#log {
  height: 80%;
  max-height:250px;
  overflow-y: auto;
}